body {
    background-color: #2d3338;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

body::-webkit-scrollbar {
  display:none;
}

a {
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: lightgray;
}

/* visited link */
a:visited {
  color: rgb(106, 106, 106);
}

/* mouse over link */
a:hover {
  color: darkgray;
}

/* selected link */
a:active {
  color: darkgray;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #474a4d;
  color: darkgray;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}