
            {% extends 'base.html' %}
            {% block body %}

                 <div class ="rounded">
                    <div class="container">
                        <div class="p-3 mb-5 bg-white rounded">
                                <div class="row">
                                <div class="col-12 align-self-start">
                                    <div class="h3 fw-bold text-dark text-opacity-75">
                                        FAQ</div>
                                    </div>
                                
                                </div>
                
                                <div class="row">
                                    <div class="col-12">
                                        <br>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item text-dark bold">What do I need to bring to my first appointment?</li>
                                                <li class="list-group-item text-secondary small">Please bring any records of your companion animal from previous veterinarian clinics, adoption papers (if applicable), and your state ID. We may need you to fill in a questionnaire on contact info for future correspondence. The veterinarian will measure and record your companion animal's physical info and any medical conditions.</li>
                                            </ul>
                                            <br><br>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item text-dark bold">How can I request my pet's documentation for a new veterinarian?</li>
                                                <li class="list-group-item text-secondary small">At each appointment you should be provided with a detailed copy of your pet's health information. Please email or contact the front desk, and we will forward your pet's information to you.</li>
                                            </ul>
                                            <br><br>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item text-dark bold">What payment options does your clinic accept?</li>
                                                <li class="list-group-item text-secondary small">We currently accept VISA, MasterCard, Google Pay, Apple Pay, and PayPal. As of the start of 2021 we have gone cash-free.</li>
                                            </ul>
                                            <br><br>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item text-dark bold">Do you offer payment plans?</li>
                                                <li class="list-group-item text-secondary small">Generally, yes! Please contact the front desk to discuss details.</li>
                                            </ul>
                                            <br><br>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item text-dark bold">How do I refill my companion animal's prescription?</li>
                                                <li class="list-group-item text-secondary small">The veterinarian will write the prescription on an as-needed basis, and our talented support staff will reach out to you to schedule a time to pick it up.</li>
                                            </ul>
                                            <br><br>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item text-dark bold">I am having a medical emergency, may I call for assistance?</li>
                                                <li class="list-group-item text-secondary small">We do not provide medical advice over the phone. Please bring your pet to the nearest 24/7 emergency veterinarian clinic.</li>
                                            </ul>
                                            <br><br>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item text-dark bold">Does your clinic offer annual vaccinations?</li>
                                                <li class="list-group-item text-secondary small">Yes. If you would like reminders about your pet's vaccinations, please let the doctor know at your next appointment.</li>
                                            </ul>
                                            <br><br>
                                        </div>
                                    </div>
                                    </div>
                        </div>
                     </div>
                </div>
            {% endblock %}

<div class="container bg-white border-top">
    <div class="row">
        <div class="p-3 mb-5 col-6 col-md-8">
           <br><br>
        </div>
    </div>
</div>