
            {% extends 'base.html' %}
            {% block body %}

            <div class="row"">
                <div class ="col-12 col-lg-7">
                    <img src="https://i.imgur.com/ekQQHKm.jpg" style="width:900px;" class="img-fluid pt-2" alt =""><br>
                    <div class="h1 fw-bold text-dark text-opacity-75">Welcome</div>
                    <div class="lead">Welcome to Central Veterinarian Clinic, serving the needs of animals in our community since 1993. Central Veterinarian Clinic is committed to its mission of providing outstanding veterinarian care for all companion animals. We specialize in veterinary dental services, as well as other routine surgeries and treatments. Contact us today to discuss further details, or to schedule an appointment with one of our passionate doctors. We hope to see you soon!
                    </div>
                </div>
                <div class="col-12 col-lg-5 ">
                    <div class="card border-0">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><img src="https://i.imgur.com/JGWeDVB.jpg" style="width:400px" class="img-fluid" alt=""></li>
                            </ul>
                        <div class="card-body">
                          <h5 class="h3 card-title text-dark">Dr. J. Smith</h5>
                            <p class="card-text mb-0 text-muted" style="font-size:small;">Dr. Smith has served their patients in central Connecticut for 20 years. They received their PhD. in veterinary medicine in 2000, and have since continued on the founding mission of the clinic... <a href="#" class="card-link" style="font-size: small;">more >></a></p>
                        </div>
                      </div>
            </div>

                    </div>

                    
        </div>
     </div>
</div>
{% endblock %}

<div class="container bg-white border-top">
    <div class="row">
        <div class="p-3 mb-5 col-6 col-md-8">
            <div class="h6 text-dark">Image Credit</span><br>Image one: https://unsplash.com/photos/o_ffSzPfFh4<br>Image two: https://unsplash.com/photos/279xIHymPYY</div>
            <br><br>
        </div>
    </div>
</div>
