
            {% extends 'base.html' %}
            {% block body %}

                 <div class ="rounded">
                    <div class="container">
                        <div class="p-3 mb-5 bg-white rounded">
                                <div class="row">
                                <div class="col-12 align-self-start">
                                    <div class="h3 fw-bold text-dark text-opacity-75">
                                        Routine Services</div>
                                    </div>
                                
                                </div>
                
                                <div class="row">
                                    <div class="col-12 col-lg-7">
                                        <div class="lead">We provide a number of routine services for your companion animal including, but not limited to:
                                            <br><br>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item text-secondary small">Annual Physical Examination</li>
                                                <li class="list-group-item text-secondary small">Boarding</li>
                                                <li class="list-group-item text-secondary small">Emergency Hospitalization</li>
                                                <li class="list-group-item text-secondary small">Grooming</li>
                                                <li class="list-group-item text-secondary small">Nutrition & Diet</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-5 align-self-center">
                                        <img src="https://i.imgur.com/BdC2z9F.jpg" class="img-fluid" alt="masters">
                                    </div>
                                    </div>
                        </div>
                     </div>
                </div>
            
                <div class ="rounded">
                    <div class="container">
                        <div class=" p-3 mb-5 bg-white rounded">
                                <div class="row">
                                    <div class="col-12 col-lg-6 align-self-center">
                                        <img src="https://i.imgur.com/qv8Z9fr.jpg" class="img-fluid" alt="cyber">
                                    </div>
                                    <div class="col-12 col-lg-6 align-self-start">
                                        <div class="h3 mt-5 fw-bold text-dark text-opacity-75">
                                            Surgery</div>
                                        
                                        <div class="lead">Dr. Smith has been a leading regional provider of a number of routine surgeries for 8 years. Our clinic provides cutting edge treatment and methods for your companion animal. While we specialize in dental surgeries, ranging from tartar scaling to full-mouth extractions, please reach out and contact us about your pet's needs. In the case that our clinic cannot perform a surgery, we will refer you out to the best veterinary hospital in our network.
                                        </div>
                                    </div>
                                </div>
                        </div>
                     </div>
                </div>
                                        

            
            
            {% endblock %}

<div class="container bg-white border-top">
    <div class="row">
        <div class="p-3 mb-5 col-6 col-md-8">
            <div class="h6 text-dark">Image Credit</span><br>Image one: https://unsplash.com/photos/tDlo2ZPlQlU<br>Image two: https://unsplash.com/photos/279xIHymPYY</div>
            <br><br>
        </div>
    </div>
</div>
