{% extends 'base.html' %}
{% load static %}
{% load auth_extras %}


{% block title %}
{{entry.field1}} {{entry.field2}} - {{entry.field3}}
{% endblock %}

{% block body %}
<br>
<div class="container m-7 p-3 bg-dark shadow ">
    <div class="row">
    <div class="col-lg-4">
        <table class="table table-dark table-borderless">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td><a href="{% url 'main' %}" class="btn px-3 text-secondary" style="background-color: #2d3338">BACK</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td style="width:50px"><div class="lead mx-1 mt-2">MAKE</div></td>
                    <td>
                        <div class="container overflow-auto text-secondary p-2 m-2" style="background-color: #2d3338;">
                        {{entry.field1}}
                    </div>
                </td>
                </tr>
                <tr>
                    <td style="width:50px"><div class="lead mx-1 mt-2">MODEL</div></td>
                    <td>
                        <div class="container overflow-auto text-secondary p-2 m-2" style="background-color: #2d3338;">
                            {{entry.field2}}
                    </div>
                </td>
                </tr>
                <tr>
                    <td style="width:50px"><div class="lead mx-1 mt-2">YEAR</div></td>
                    <td>
                        <div class="container overflow-auto text-secondary p-2 m-2" style="background-color: #2d3338;">
                            {{entry.field3}}
                    </div>
                </td>
                </tr>
            </tbody>
        </table>
       
        <table class="table table-dark table-borderless">
            <thead>
            </thead>
            <tbody>
                <tr>
                    {% if request.user|has_group:"Admin" %}
                    <td style="width:50px"><a href="{% url 'delete' entry.id %}" class="btn px-3 text-secondary" style="background-color: #2d3338">Delete</a></td>
                    <td><a href="{% url 'main' %}" class="btn px-3 text-secondary" style="background-color: #2d3338">Edit</a></td>
                    {% elif request.user|has_group:"Underwriter" %}
                    <td style="width:50px"><a href="{% url 'delete' entry.id %}" class="btn px-3 text-secondary" style="background-color: #2d3338">Delete</a></td>
                    <td><a href="{% url 'main' %}" class="btn px-3 text-secondary" style="background-color: #2d3338">Edit</a></td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
                    <div class="lead mt-2 text-light">CARSEAT INSPECTION LOCATIONS</div>
                    <div class="container overflow-auto text-secondary align-left px-2" style="height:200px; width:100%; background-color: #2d3338">
                        {{entry.field4}}
                    </div>
    </div>
    <div class="col-lg-8" style="margin-top:1%">

        <div class="lead text-light">RATINGS</div>
        <div class="container overflow-auto text-secondary px-2" style="height:95px; width:100%; background-color: #2d3338">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        
        </div>
        <br>

        <div class="lead text-light">INVESTIGATIONS</div>
        <div class="container overflow-auto text-secondary px-2" style="height:95px; width:100%; background-color: #2d3338">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        
        </div>
        <br>

        <div class="lead text-light">COMPLAINTS</div>
        <div class="container overflow-auto text-secondary px-2" style="height:95px; width:100%; background-color: #2d3338">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        
        </div>
        <br>

        <div class="lead text-light">RECALLS</div>
        <div class="container overflow-auto text-secondary px-2" style="height:95px; width:100%; background-color: #2d3338">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        
        </div>
        
    </div>
</div>
</div>

{% endblock %}

