{% extends 'base.html' %}

{% block title %}
    NHTSA API System - Home
{% endblock %}

{% block body %}

<div class="container-fluid overflow-auto">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <form action="{% url 'search' %}" method="get">
                            {% csrf_token %}
                        <div class="input-group mb-3">
                            <input name="searchterm" type="text" class="form-control" placeholder="Search Term" aria-label="Search Term" aria-describedby="button-addon2">
                            <button class="btn btn-dark text-secondary" type="submit" id="button-addon2"><i class="fas fa-search"></i> ></button>
                          </div>
                        </form>
                    </li><br><br>
                    {% if user.is_authenticated %}
                     <li><br>
                        <div class="container mx-4" style="text-align:center; width: 100%">
                        <p class="text-secondary">Hi {{ user.username }}.</p>
                        </div>
                    </li>
                    <li>
                        <a href="{% url 'logout_view' %}" class="btn btn-dark text-secondary mx-4 px-5">
                            <span class="ms-1 d-none d-sm-inline">Logout</span></a>
                    </li>
                  {% else %}
                  <li><br>
                    <p class="text-secondary mx-3">You are not logged in</p>
                </li>
                    <li>
                        <a href="{% url 'login_page' %}" class="btn btn-dark text-secondary mx-4 px-5">
                            <span class="ms-1 d-none d-sm-inline">Login</span></a>
                    </li>
                    <li>
                        <a href="{% url 'register' %}" class="btn btn-dark text-secondary mx-3 px-5">
                            <span class="ms-1 d-none d-sm-inline">Register</span></a>
                    </li>
                  {% endif %}
                </ul>
                <hr>
            </div>
        </div>
        <div class="col py-3">
            
            <div class="container m-3 bg-dark overflow-auto" style="width:97.3%; height:700px">

<table class="table table-borderless table-dark table-striped table-hover" >
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Make</th>
            <th scope="col">Model</th>
            <th scope="col">Year</th>
            <th scope="col">View Entry</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="text-secondary">
        {% for entry in placeholder_table %}
    <tr>
        <td>{{entry.id}}</td>
        <td>{{entry.field1}}</td>
        <td>{{entry.field2}}</td>
        <td>{{entry.field3}}</td>
        <td><a href="{% url 'entryview' entry.id %}">Details</a><td>
    </tr>
    {% empty %}
    <h3 class="text-light">No items found with your search term, or there are no model entries added yet.</h3>
{% endfor %}
</div>
</div>
</div>
</div>

{% endblock %}